JWT_SECRET_KEY=changeThisSecret

BACKEND_PORT=8080
BACKEND_PROFILE=prod

DB_HOST=postgres
DB_PORT=5432
DB_NAME=tennis_platform_db
DB_USER=postgres-tfm
DB_PASSWORD=alsoChangeThisSecret

DATASOURCE_URL=jdbc:postgresql://${DB_HOST}:5432/${DB_NAME}

FRONTEND_PORT=4200
FRONTEND_ALLOWED_HOSTS=localhost,127.0.0.1
